.cart-icon-container {
  width: 45px;
  height: 45px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  .shopping-icon {
    width: 90%;
    height: 95%;
  }

  .item-count {
    position: absolute;
    font-size:.95rem;
    font-weight: bold;
    bottom: 20%;
  }
}
