.category-container {
  padding: 0 1rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 20px;
  row-gap: 50px;
  @media (max-width: 767px) {
    grid-template-columns: 1fr;
    gap: 2rem;
  }
}
.category-title {
  text-transform: capitalize;
  text-align: center;
  font-size: 28px;
  margin-bottom: 25px;
}
